body {
    background-color: #d2e6fa;
}

nav {
    background-color: #c7b29a;
}

.greeting-img {
    text-align: center;
}

.greeting {
    color: red; 
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}