body {
    background-color: #d2e6fa;
    background-image: url(./images/bgPattern5.png);
    font-family: 'Lato 300', sans-serif;
    font-weight: 300; 
}

h4 {
    font-family: 'Boogaloo', cursive;
}


/***********  NAVIGATION  ***********/
nav {
    background-color: #c7b29a;
}


.homePage-wrapper,
.about-wrapper,
.currentList-wrapper,
.inputForm-wrapper,
footer { 
    max-width: 991px;
    padding: 40px;
}


/***********  HOME PAGE  ***********/
.homePage-wrapper {
    background-color: azure;
    padding-bottom: 50px; 
}

.greeting-img {
    text-align: center;
}

#greeting {
    color: red; 
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gaegu', cursive;
    font-size: 1.2em; 
}

.homeFaces {
    margin-bottom: 20px;  
}


/***********  ABOUT PAGE  ***********/
.about-wrapper {
    background-color: moccasin;
    padding-top: 60px;
}


/***********  CURRENT LIST  ***********/
.currentList-wrapper {
    background-color: rgb(214, 200, 228);
    padding-top: 60px;
}


/***********  FORM  ***********/
.inputForm-wrapper {
    background-color: darkseagreen;
}

#valid-dates {
    font-size: .75em; 
}


/***********  FOOTER  ***********/

footer {
    background-color: lightgrey;
    position: static; 
}

.footer-links {
    list-style: none; 
    padding: 0px; 
    margin: 0; 
}


/***********  LOGIN FORM  ***********/

#loginFormWrapper {
    border: 1px solid darkslateblue; 
    max-width: 70%;
    border-radius: 5px; 
    margin: 40px auto; 
    text-align: center; 
    background-color: whitesmoke; 
}

#loginForm {
    margin: 40px; 
}

#loginForm button {
    margin-top: 20px; 
}